# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Bundle artifacts
*.jsbundle

# Signing and Google config
*.keystore
*.jks
app/*.keystore
app/*.jks
keystore.properties
app/google-services.json
